<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EventosApp</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3">
            <h1>Evento</h1>
        </div>
    </div>
    <div class="row">
        <h3>
            <a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a>
        </h3>
    </div>
    <div th:each="evento : ${evento}">
        <div class="row">
            <p>Nome: <span th:text="${evento.nome}"></span></p>
            <p>Local: <span th:text="${evento.local}"></span></p>
            <p>Data: <span th:text="${evento.data}"></span></p>
            <p>Horario: <span th:text="${evento.horario}"></span></p>
        </div>
        <br>
        <form method="post">
            <div class="row">
                <div class="input-field col s4">
                    <input type="text" placeholder="Nome do Convidado" id="nome_convidado" name="nomeConvidado">
                    <label for="nome_convidado">Nome:</label>
                </div>
                <div class="input-field col s4">
                    <input type="text" placeholder="Rg" id="rg_convidado" name="rg">
                    <label for="rg_convidado">RG:</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">add_circle_outline</i>Adicionar</button>
        </form>

        <hr>
        <h5>Lista de Convidados: </h5>
        <div th:each="convidado : ${convidados}">
            <div class="row">
                <div class="input-fieald com s6">
                    <p><spam th:text="${convidado.nomeConvidado}"></spam></p>
                </div>
                <div class="input-fieald com s6">
                    <p><spam th:text="${convidado.rg}"></spam></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>